.container
  .row.mb-5
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description
      My work focuses on the interplay between performance and installation, especially the question of how to document performance in a way that actively engages the viewer in the museum space.
      %br
      %br
      My performances are loosely organized: there is only a prescribed "goal" that must be reached (moving a giant object, performing a song while bound, blocking or crossing a road, etc.). Through staging many performances, which have involved anywhere from two to five hundred participants, I have come to realize that the more absurd the "goal" is, the more effectively it creates the potential for collective, active imagination. This absurdity also forces a departure from the fixed possibilities of the everyday. Ultimately, my performances reveal the physical limits of any one individual’s ability to reach a goal, and thus facilitate spontaneous, collective action.
      %br
      %br
      In the first five of the ten years that I have been active as a professional artist, I was interested in finding ways to involve people in the performance, and regarded documentation (that is, the installation) as a secondary form of expression. I rarely thought about the installation while planning for the performance. However, I soon had to deal with an inherent problem − namely, how is it possible to actively engage museum or gallery visitors, people who did not directly participate in the performance?
      %br
      %br
      I thus began to rethink the role of installation in my practice, and moved towards an approach that emphasized the unique, narrative qualities of documentation, rather than simply regarding documentation as a record of the performance. Since then, I have completely reversed the order of my working process: I design the event or performance with the subsequent installation, and the story that will accompany it, in mind.
      %br
      %br
      As for my installations, they focus on narrativizing the collective consciousness that manifests inside my performances. They provide another layer of context that allows the viewer to perceive a story inside of the event. A defining feature of my work is the possibility it opens for viewers to freely and collectively ascribe to the performance new meanings that derive from the gulf between the museum space and the performance site.
      %br
      %br
      What I am attempting to do is cross the perspectives of people inside and outside the museum, thereby creating a new imaginative space that can be shared by people across spatial and temporal distances.
      %br
      %hr
      .statement-title (Drawing) Fractions of the Longest Distance
      %br
      On the flight back to the US from a project in Vietnam, I had an idea for my next work. It felt urgent ─ as soon as I got off of the plane and through customs, I made a call on Messenger while waiting for my baggage. A Vietnamese friend who had just seen me off in Hanoi after helping for the duration of my stay picked up. This contraction of distance between the site and the artist is a defining characteristic of contemporary art: even after a project’s finished, you can stay in touch with the people who assisted, no matter where you are, or what time it is. In this way, the relationship between the site and the artist, including such friendships, is endlessly renewed ─ even if you call a "work" complete, perhaps the underlying project remains perpetually unfinished. On a larger scale, countless multi-national collectives are allowed to form through these relationships accrued and renewed in the process of creating work in a variety of contexts and locations. They offer an invaluable base to the artist, particularly for those who do collaborative projects like me.
      %br
      %br
      During my stay in the US, starting in 2015, I unexpectedly experienced the whole of the last presidential election. As is well known, this year saw the rise of a president who pledges to build a wall on the Mexican-US border. Here are his 2015 words: "I would build a great wall, and nobody builds walls better than me, believe me," (from "Here’s Donald Trump’s Presidential Announcement Speech" Time, Jun. 16. 2015 http://time.com/3923128/donald-trump-announcement-speech/)
      %br
      %br
      Xenophobia, anti-globalism, and protectionism informed his campaign rhetoric; all of these point to the strengthening of national consciousness and boundaries. In this sense, Trump’ s ascent marks a watershed moment in the anti-globalist reaction to globalism’s advocating the free flow and exchange of products, money and people. Of course, this tension isn’t limited to the US alone― it’s in the other sites of this exhibition’s projects as well, that is Mexico, Indonesia, and Vietnam. Fear of the outside coming in (and the changes that accompany its arrival) affects everyone: those who are free to move or who must move, and those who won’ t or can’t move. Or, if the outside’s already entered, its effects are often painful. My point here isn’t that globalism has gone too far, or that anti-globalism is ridiculous―rather, I created this exhibition with an eye on the ways in which the basic structures of community are being shaken and reshaped by movement.
      %br
      %br
      .annotation * "I will build a greatwall ― and nobody builds walls better than me, believe me ―" : "Here's Donald Trump's Presidential Announcement Speech" Time, Jun. 16, 2015 http://time.com/3923128/donald-trump-announcement-speech/
      %br
      %hr
      .statement-title 40,000kmのなかの数m
      %br
      プロジェクトを終え、ベトナムからアメリカへ戻る飛行機のうえで次作のアイディアが浮かぶ。すぐにシェアしたかったので、着陸後、入国審査を済ませて荷物がグルグル回ってくるのを待っている間に、Messengerで電話をかける。その相手はベトナムでのプロジェクトをサポートしてくれた、 ついさっきハノイで自分を見送ってくれたばかりのベトナム人。プロジェクトの現場とアーティストとのこの距離感は、まぎれもなく現代特有だ。一つのプロジェクトが終わっても、そこに居る人たちとの交信はどの国からでも、いつでもできる。その人間関係を含め、プロジェクトの現場と アーティストとの関係は絶え間なく継続されていく。(作品はその都度出来上がるにしろ)「プロジェクト」はもはや終わらないかもしれない。各国を移動してプロジェクトをやればやるほど、そのすべての国（にいるアーティストやサポーター）との関係は継続・蓄積され、無数の多国籍コレクティブがゆるやかに形成されていく。これは（特に僕のようなプロジェクトベースの）アーティストにとって、このうえない土俵を提供してくれる。
      %br
      %br
      2015年から始めた米国滞在によって図らずも、前回の大統領選挙戦を最初から最後まで見届けることになった。周知の通り、アメリカ - メキシコの国境に巨大な壁（Great wall : 万里の長城という意 味もある）を建てると謳うアメリカ大統領が、今年の初めに誕生している *。この（移民）排斥主義と並列して、反グローバル主義と保護主義（米国第一）がスローガンとして掲げられた。これらは共通して、国家の枠組みの再強化を意味している。もの（製品)・金・人の移動や交換を促進してきたグローバル主義と、その反動による反グローバル主義の分水嶺。その両者の緊張関係はアメリカ国内に限らず、この展覧会に登場する作品の舞台、メキシコ、インドネシア、ベトナム、それらのどこにでも存在した。どこかへ自由に移動してしまえる人、どこかへ移動せざるを得ない人たちがいる一方で、移動しない、または移動できない人たちは、外から来るモノによって眼前の風景が変貌することを危惧している（あるいは実際にその風景が変貌しまったことを悔やんでいる)。僕はここで、グローバル化は行きすぎだ!とか、反グローバル化はナンセンス!とかを言いたいわけではないので、粛々と「移動」が共同体のフレームを揺り起こしているという事実に着目して、展覧会を構成する。
      %br
      %hr
      .statement-title Pull an Raise
      %br
      A unique aspect of my Pull and Raise series is that each performance must be continuously staged until there are a sufficient number of people involved to complete the goal. The size and heaviness of the object reveals the physical limitations of any one person who would try to move it. Successful achievement of the activity requires a group to assemble ad hoc.
      %br
      %br
      I began the Pull and Raise series in 2007, and have since staged over thirty performances in ten locations across the world. The design of the constructed objects reflects fieldwork undertaken in each site. It is through this fieldwork that I establish relationships with local people and gather an initial number of participants for the performance.
      %br
      %hr
      .statement-title 引き・興し／倒し
      %br
      　構築物をロープで動かすことを目指すこのパフォーマンスの特性は、達成可能な人数を得るまで挑戦が継続され、その場で参加するかしないかは、その参加者一人一人に委ねられることである。このパフォーマンスは、周囲の者に参加への能動性を促し、予期せずそこに居合わせた者さえも、この集団的な挑戦に巻き込んでいく。つまり、構築物が巨大すぎて、重すぎて、一人では動かせないという身体的な限界を通じて、その時その場だけの一つの集団が形作られる。それは、集団性が持つ想像力の一つの表れであり、媒介を介して無作為に集合する私たちの姿の一つの例である。
      %br
      %br
      　私はこのプロジェクト「Pull and Raise」を2007年に始め、これまでに10の地域で30のパフォーマンスを実践してきた。各プロジェクトで制作された構築物のデザインは、それぞれの場所でのフィールドワークで出会ったストーリーを反映する。そのフィールドワークによって、そこに暮らす人たちとの関係が構築され、パフォーマンスのスターティングメンバーが組織される。
      %br
      %hr
      .statement-title Between Bystanders and the Impacted
      %br
      How are we to look at what lies beyond our directly experienced and limited realities? Through the informatization of society that followed the fall of the Berlin Wall in 1989, we are now made aware of the "other" to a historically unprecedented extent. I held the delusion that society, through his change, would become generally more tolerant. But instead, we face a US president who calls for building walls on borders despite the lessons posed by 9/11, the Iraq War, the November 2015 Paris attacks, and the war in Syria. The same communal categories of oldーreligion, skin color, languageーstill separate "this" side and "that" side today.
      %br
      %br
      %blockquote The new communication technologies, which hold out the promise of a new democracy and a new social equality, have in fact created new lines of inequality and exclusion, both within the dominant countries and especially outside them"ー"Empire" Michael Hardt and Antonio Negri
      We can’t directly experience the stories and events that make up outside realities. What is needed now is not simply the passive reception of information, but a way of imagining those realities that lie beyond our immediate perception.
      %br
      %br
      The exhibition is a book whose pages are turned by the whole body. Unlike a movie theater, viewers in an art gallery must move to view each of the works. This action is dynamic and switches "on" the imagination. The artists whose works I reference, including Beuys, Smithson, Alys, Gonzalez Torres and Sehgal, challenge the viewer to question her immediate reality, and direct her imagination outside of the museum, and to the "other" present inside the museum.
      %br
      %br
      %blockquote "They have to contend with areas that are not really based on the kind of representations that they’re familiar with, like objects in galleries or paintings on walls. In other words, they have to contend with the physical landscape rather than the insularity of a white room."ーRobert Smithson
      %blockquote "What I try to do really is to spread stories, to generate situations that can provoke through their experience a sudden unexpected distancing from the immediate situation and can shake up your assumptions about the way things are"ーFrancis Alys
      Strategies that lead the viewer's imagination towards outside realities and the "other" are most effective in information societies.
      %br
      %br
      On the other hand, voluntary and improvisational types of group-based activities, such as the carrying of Omikoshi  (a Japanese term that refers to a portable shrine that houses a god) and jazz, can only be accomplished through communicationーthat is, direct interactions with the "other". In order to support the weight of an Omikoshi, 30 to 40 carriers must voluntarily and randomly relieve each other in turns. Members of a jazz band alternate in improvising over a shared rhythm. Physical mediums and group efforts, in short, structures supported by groups, require voluntary or improvisational actions that make the group dynamic.
      %br
      %br
      My work derives from these two vantage points, in other words, strategies that invite the viewer’s imagination to outside realities and the "other", and voluntary or improvisational group activities brought about by participants working with the "other". Ultimately, the only way to unite these two approaches is through the accidental and poetic visual. The imagination directed to the "other" through voluntary and spontaneous group activities is condensed and universalized through documentation/representation in an art work, and then restored by the imagination of the viewer in the exhibition acting upon this work. Art that moves people across temporal, spatial and contextual boundaries is beautiful precisely because we can’t know the realities that lie beyond; it is this beauty that drives me to create.
      %br
      %br
      %blockquote "This process of coming to see other human beings as "one of us" rather than as "them" is a matter of redescription of what we ourselves are like."ー"Contingency, Irony, and Solidarity" Richard Rorty
      %br
      %br
      If, while waiting for my food at a restaurant, I learned that a family member or friend had died, or, if the person next to me was suddenly shot and killed, I would lose my appetite for whatever was placed in front of me afterwards. But, I eat today knowing very well that people on the other side of the planet are dying. Through imagining the realities beyond us, we can form groups that transcend pre-existing boundaries. This in turn changes our perception of other communities and impacted groups around the world; our own identities are remade in the process.
      %br
      %hr
      .statement-title 傍観者と当事者の狭間の想像力について。
      %br
      自らが直に経験する現実が限られているなかで、その外側の現実をどう見るか？1989年のベルリンの壁崩壊後、90年代と00年代における情報社会化を経て、私たちは歴史のなかでかつてない程、日々他者からの情報に晒されている。時代が移り変わるなかで、社会はその多様性を認め合いながら、脱中心的に共同体化していくという幻想を、僕は抱いていた。しかし現実では、何者も9.11、イラク戦争、パリアタック、シリア騒乱を防げず、国境に壁の建設を謳うアメリカ大統領が誕生している。旧態依然の共同体のカテゴライズ : 宗教、肌の色、言語による壁は、こちら側と向こう側を未だに隔てている。
      %br
      %br
      %blockquote 「新たな民主主義と新たな社会的平等を約束してくれるはずの新たなコミュニケーション・テクノロジーは、じっさいには不平等と排除の新たな線分を創り出してしまったのである。それは支配諸国の内部においてだけではない。とりわけその外部においてもそうなのである。」ー「帝国」アントニオネグリ、マイケルハート
      僕らは常に外部の現実、そこにあるストーリーや出来事を直接的には経験できない。情報を受動的に見るだけでなく、目の前に見ることができない現実への、より能動的な想像力が求められている。
      展覧会は指だけでなく、全身でページをめくっていく本だ。映画館とは対照的に、美術館では鑑賞者が作品を見るために動かなければならない。その振る舞いは、鑑賞者の見ることへの能動性を刺激し、想像力のスイッチをONにする。僕が参照するアーティストたち : ボイス、スミッソン、フランシスアリス、フェニックスゴンザレストレス、そしてティノセーガルによる作品は、鑑賞者に目の前の現実を疑わせ、鑑賞者の想像力を美術館の外へ、または美術館内の他者へと向けさせてきた。
      %br
      %br
      %blockquote 「壁に掛かった絵やギャラリーに置かれた立体のような見慣れた類の表現とは全く異なる空間に、彼らは立ち向かわなければならない。つまり、彼らはホワイトキューブの内面性よりむしろ、実世界に立ち向かわなければならない。」ロバートスミッソン
      %blockquote 「私の本当の企ては、物語を拡散すること、彼らに現状から予期せぬ距離を置かせ、現状への思い込みを揺さぶる状況をつくり出すこと。」フランシスアリス
      鑑賞者を動かしながら、外部の現実、他者へと想像力を誘導する企みは、いまの情報社会にこそ効果的だ。
      %br
      %br
      一方で、神輿、Jazzのような自発/即興的なコミュニケーションによる集団行為は他者への想像力によってのみ達成される。神輿の重さを30~40人で支え続ける為に、神輿を担ぐメンバーは自発的かつランダムに交換されていく。Jazzバンドのメンバーは、バンド内で共有されたリズムによって、それぞれ即興的に演奏する。物理的な媒介物や共有された行為のルールといった、集団に与えられたストラクチャが、個々の自発/即興的な行為を引き出し、集団の能動性を促している。
      %br
      %br
      僕の作品はこの2つの地点、つまり前述の「外部の現実、他者への想像力を誘導する企み」と「他者への想像力による自発/即興的な集団行為」を起点とする。その2つの地点からのルート上で、最終的に2つの地点間で交換可能になるものは、偶発的かつ詩的なビジュアルのみだ。集団行為の現場に介在する他者への想像力のエッセンスを、自発/即興的な行為によって凝縮、普遍化し、展覧会場で鑑賞者の想像力に還元する。僕らは未だに目の前には見えない現実を察知できないからこそ、時間的、空間的、文脈的な距離を越えて人を動かす作品を、僕は美しく思い、僕を制作に駆り立てる。
      %br
      %br
      %blockquote 「他の人間を「彼ら」というよりむしろ「我々の一員」と見なすようになる過程は、私たち自身がどのような人々なのか描き直すという問題である。」ー「偶然性・アイロニー・連帯」リチャードローティ
      %br
      %br
      レストランで料理を待っている間、もし、家族や仲間の死の連絡を受けたら、隣の席の人が突然撃たれて死んだら、僕はその後料理を食べられない。しかし、地球の裏側の死の情報をリアルタイムで知りながら、僕は今日も食事をしている。外部世界への想像力によって、僕らが既存の壁を超えた運動体を形成するたとき、共同体や当事者に対する見え方は変容し、僕らのアイデンティティ観さえも再記述される。
    .col-1.col-md-1
