.container
  .row.mb-4
  .row.mb-4
    .col-1.col-md-1
    .col-10.col-md-10
      = link_to '/images/projects/pull-and-raise/synecdoches/absence/00.jpg', "data-fancybox" => "gallery", "data-caption" => "“FUTAKOTAMAGAWA ART DEPOT” Installation view<br>2013<br>Venue: Venue: Futakotamagawa Rise, Tokyo, Japan" do
        = image_tag 'projects/pull-and-raise/synecdoches/absence/00.jpg', class: 'image-no-padding'
  .row.mb-4
    .col
  .row.mb-3
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10
      Absence
      %br
      .description
        2013
      %br
      .description
        Wooden structure, rope
    .col-1.col-md-1
  .row.mb-5
    .col-1.col-md-1
    .col-10.col-md-10.description

    .col-1.col-md-1
  .row.mb-5
