.container-fluid
  .row
    .vimeo-wrapper.col-12.col-sm-12.col-md-12
      %iframe{:allow => "autoplay; fullscreen", :allowfullscreen => "", :frameborder => "0", :src => "https://player.vimeo.com/video/335663696?title=0&byline=0&portrait=0&autoplay=1&muted=1&background=1", :class => "col-12 col-sm-12 col-md-12 video"}
        %p
          %a{:href => "https://vimeo.com/216441577"} Pull and Raise (2007-)
          from
          %a{:href => "https://vimeo.com/tsubasakato"} TSUBASA
          on
          = succeed "." do
            %a{:href => "https://vimeo.com"} Vimeo
