.container
  .row
    .col-12.col-sm-12.col-md-12
      = link_to 'Download CV as PDF', '/images/cv.pdf', { download: 'tsubasa_kato_cv.pdf' }
  .row.mb-5
  .row.mb-5
    .col-12.col-md-12.description
      Born 1984 in Saitama, Japan. Lives and works in Tokyo
      %li
          %span.section-year
      %br
      .section-title EDUCATION:
      %ul.section-list
        %li
          %span.section-year 2017-15
          Visiting Research Scholar, Department of Architecture, University of Washington, Seattle, USA
        %li
          %span.section-year 2010
          M.F.A., Department of Painting, Tokyo University of the Arts, Tokyo, Japan
        %li
          %span.section-year 2007
          B.A., Department of Painting, College of Art and Design, Musashino Art University, Tokyo, Japan
      .section-title SOLO EXHIBITIONS:
      %ul.section-list
        %li
          %span.section-year 2018
          (Drawing) Fractions of the Longest Distance [Vietnam ⇅ United States], MUJIN-TO Production, Tokyo, Japan
        %li
          %span.section-year 2017
          (Drawing) Fractions of the Longest Distance [Mexico City ⇄ Jakarta], MUJIN-TO Production, Tokyo, Japan
        %li
          %span.section-year 2015
          Reach Out, MUJIN-TO Production, Tokyo, Japan
        %li
          %span.section-year 2013
          Still the Never-World, MUJIN-TO Production, Tokyo, Japan
        %li
          %span.section-year 2011
          Fukagawa, Future, Humanity, MUJIN-TO Production / Kiba Park, Tokyo, Japan
        %li
          %span.section-year 
          The Home, Hotels, Hideyoshi, Away, Art Area B1, Osaka, Japan [catalogue]
      .section-title SELECTED GROUP EXHIBITIONS:
      %ul.section-list
        %li
          %span.section-year 2019
          Aichi Triennale 2019 : Taming Y/Our Passion, Nagoya and Toyota city, Aichi, Japan 
        %li
          %span.section-year
          Who opens up the world?, Toyota Municipal Museum of Art, Aichi, Japan
        %li
          %span.section-year
          Transplant, MUJIN-TO Production, Tokyo, Japan
        %li
          %span.section-year
          21st DOMANI: The Art of Tomorrow, The National Art Center, Tokyo, Japan [catalogue]
        %li
          %span.section-year 2018
          Catastrophe and the Power of Art, Mori Art Museum, Tokyo, Japan [catalogue]
        %li
          %span.section-year
          Encounters, PDX CONTEMPORARY ART, Portland, USA
        %li
          %span.section-year
          Retrospective of the museum collection: 2014 → 1890, The National Museum of Art, Osaka, Japan
        %li
          %span.section-year
          Arts Saitama Kitamachi Fest Vo.4, Saitama Plaza North Gallery, Saitama, Japan
        %li
          %span.section-year
          Out in the Cold, University of Warwick, Coventry, UK
        %li
          %span.section-year 2017
          Reenacting History_Collective Actions and Everyday Gestures, National Museum of Modern and Contemporary Art, Gwacheon, South Korea [catalogue]
        %li
          %span.section-year
          Twenty Year’ s of the TARO Award: Twenty Enfants Terrible, %li Taro Okamoto Memorial Museum, Tokyo, Japan
        %li
          %span.section-year
          Condition Report : Sindikat Campursari, Gudang Sarinah Ekosistem, Jakarta, Indonesia [catalogue]
        %li
          %span.section-year 2018-16
          Uprisings, Jeu de Paume, Paris, France [catalogue]
        %li
          %span.section-year
          [itinerary: Galerie de l’ UQAM and Cinémathèque québécoise, Montreal, Canada /
        %li
          %span.section-year
          MUAC (University Museum of Contemporary Art), Mexico City, Mexico /
        %li
          %span.section-year
          SESC, São Paulo, Brazil /
        %li
          %span.section-year
          Museum of The National University of Tres de Febrero, Buenos Aires, Argentina / 
        %li
          %span.section-year
          National Art Museum of Catalonia, Barcelona, Spain]
        %li
          %span.section-year 2016
          Spider’ s Thread – Spinning images of Japanese beauty, Toyota Municipal Museum of Art, Aichi, Japan [catalogue]
        %li
          %span.section-year
          EDITIONS++, MUJIN-TO Production, Tokyo, Japan
        %li
          %span.section-year
          New “Colony / Island” 2, Art Area B1, Osaka, Japan
        %li
          %span.section-year
          East Asian Video Frames: Shades of Urbanization, Pori Art Museum, Pori, Finland
        %li
          %span.section-year 2015
          DAM Projects Sunday School #12 - Letter From Tokyo, A_Space, London, UK
        %li
          %span.section-year
          TSUSHIMA ART FANTASIA in BUSAN, B.C. Center, Busan, South Korea
        %li
          %span.section-year
          GERAKAN SENI 2015 ART ON THE MOVE, SMK Bandar Baru Sentul, Kuala Lumpur, Malaysia
        %li
          %span.section-year
          Time of Others, The National Museum of Art, Osaka, Japan [catalogue]
        %li
          %span.section-year
          TSUSHIMA ART FANTASIA Hiroshima-Tsushima, Izumi Museum of Art, Hiroshima, Japan
        %li
          %span.section-year
          being MAPHILINDO, Sabah Art Gallery, Kota Kinabalu, Malaysia
        %li
          %span.section-year
          Arts Saitama Kitamachi Fest, Saitama Plaza North Gallery, Saitama, Japan
        %li
          %span.section-year
          Passage of KOGANECHO: Revisit, Site A-gallery, Yokohama, Japan
        %li
          %span.section-year
          Come Close: Japanese Artists Within their Communities, Bus Projects, Collingwood, Victoria, Australia
        %li
          %span.section-year 2014
          FUTAKOTAMAGAWA ART DEPOT, Futakotamagawa Rise, Tokyo, Japan
        %li
          %span.section-year
          Tokyo Designer’ s Week 2014 Asia Awards, Meijijingu Gaien, Tokyo, Japan
        %li
          %span.section-year
          Red Bull Music Academy Tokyo, Red Bull Japan, Tokyo, Japan [catalogue]
        %li
          %span.section-year
          TSUSHIMA ART FANTASIA, Tsushima Island, Nagasaki, Japan
        %li
          %span.section-year
          MUJIN-TO infinity, MUJIN-TO Production, Tokyo, Japan
        %li
          %span.section-year 2013
          Sapporo Art Stage: Art Street, Sapporo Ekimae-dori Underground Pedestrian Space, Sapporo, Japan
        %li
          %span.section-year
          Now Japan; Exhibition with 37 contemporary Japanese artists, Kunsthal KAdE, Amersfoort, The Netherlands [catalogue] 
        %li
          %span.section-year
          Why not live for Art? II - 9 collectors reveal their treasures, Tokyo Opera City Art Gallery, Tokyo, Japan 
        %li
          %span.section-year
          Case01.Tamagawa - Josui, 22:00 Gallery, Tokyo, Japan
        %li
          %span.section-year
          Nikkei Art Project, Space Nio Art Gallery, Tokyo, Japan
        %li
          %span.section-year 2012
          Artists and the Disaster -Documentation in Progress-, Contemporary Art Gallery, Art Tower Mito, Ibaraki, Japan [catalogue]
        %li
          %span.section-year
          Project Daejeon 2012: Energy, Daejeon Museum of Art, Daejeon, South Korea [catalogue]
        %li
          %span.section-year
          Daikanyama Art Street, Hillside Terrace, Tokyo, Japan
        %li
          %span.section-year
          Hiroshima-O Hiroshima Fukushima, The former Bank of Japan Hiroshima branch, Hiroshima, Japan
        %li
          %span.section-year 2011
          Koganecho Bazaar, Koganecho area, Yokohama, Japan [catalogue]
        %li
          %span.section-year 2010
          NEO NEW WAVE, island ATRIUM, Chiba, Japan
        %li
          %span.section-year
          KOSHIKI ART EXHIBITION 2010, Former port of Kamikoshiki Island, Kagoshima, Japan
        %li
          %span.section-year
          Roppongi Crossing 2010: Can There Be Art?, Mori Art Museum, Tokyo, Japan [catalogue]
        %li
          %span.section-year
          The 13th Exhibition of the Taro Okamoto Award for Contemporary Art, Taro Okamoto Museum of Art, Kawasaki, Japan
        %li
          %span.section-year 2009
          ETSU (NANTES CAS 8), Sumida Park / Former Sakamoto elementary school, Tokyo, Japan
        %li
          %span.section-year
          Nantes Biennale ESTUAIRE 2009 (NANTES CAS 8), Saint-Nazaire / Nantes, France 
        %li
          %span.section-year
          FRESH EXPAND, URBAN BACK-SIDE LABOLATORY R2, Chiba, Japan
        %li
          %span.section-year
          no name, ZAIM, Yokohama, Japan
        %li
          %span.section-year
          [itinerary: Former Rissei elementary school, Kyoto, Japan] 
        %li
          %span.section-year
          GEISAI#12, Tokyo Big Sight, Tokyo, Japan
      .section-title SELECTED FILM SCREENINGS:
      %ul.section-list
        %li
          %span.section-year 2017
          JWA Video Program, John Wardle Architects, Collingwood, Victoria, Australia
        %li
          %span.section-year 2016 
          Regards Croisés / La Fabrique du Regard, LE BAL, Paris, France
        %li
          %span.section-year 2013
          SNIFF OUT 2013, Intex Osaka, Osaka, Japan
        %li
          %span.section-year
          EXPO 1: New York’s Rockaway Call For Ideas, VW Dome2, New York, USA
        %li
          %span.section-year 2012
          TERATOTERA Festival, Baus Theater, Tokyo, Japan
        %li
          %span.section-year 2011
          Big in Japan, Paddington Town Hall, Sydney, Australia
        %li
          %span.section-year
          [itinerary: 1000 £ Bend, Melbourne, Australia]
      .section-title Commissioned Venue Directions:
      %ul.section-list
        %li
          %span.section-year 2015
          Don’t Follow the Wind / Non-visitor Center, The Watari Museum of Contemporary Art, Tokyo, Japan
        %li
          %span.section-year 2012
          Search Project vol.1.5, Art Area B1, Osaka, Japan
      .section-title SELECTED PERFORMANCES:
      %ul.section-list
        %li
          %span.section-year 2018
          Ningen Restauran, Former Kabukicho Book Center, Tokyo, Japan
        %li
          %span.section-year 2017
          Mni Wiconi - Summer Festival, Sitting Bull College, Standing Rock Sioux Reservation, North Dakota, USA
        %li
          %span.section-year 2013
          FUTAKOTAMAGAWA ART DEPOT, Futakotamagawa Rise, Tokyo, Japan
        %li
          %span.section-year 2012
          TERATOTERA Festival, Inokashira Park, Tokyo, Japan
        %li
          %span.section-year 2011
          Osaka Canvas Project, Osaka City Central Public Hall / Osaka Castle Park / The Expo’ 70 Commemorative Park, Osaka, Japan
        %li
          %span.section-year 2009
          Art Line Kashiwa, Front street of Kashiwa Station, Chiba, Japan
        %li
          %span.section-year
          Echigo-tsumari Art Triennale (Conquering Snow Dynamo Art Project), Former Senda elementary school, Niigata, Japan 
        %li
          %span.section-year 2008
          Does the Town Need Us?, Ueno Park, Tokyo, Japan
      .section-title PROJECTS BY THE ARTIST:
      %ul.section-list 
        %li
          %span.section-year 2017
          Guerrilla Waves, Then Cafe, Hue, Vietnam
        %li
          %span.section-year 2015
          Magnetic Tea Party, Maria Enriqueta Camarillo St, Mexico City, Mexico
        %li
          %span.section-year 2013
          Mitakuye Oyasin, United Tribes Technical College, Bismarck / Standing Rock Sioux Reservation, North Dakota, USA
        %li
          %span.section-year
          Abandon, Desert Shores, California, USA
        %li
          %span.section-year 2011
          11.3 PROJECT, Toyoma district of Iwaki city, Fukushima, Japan
      .section-title Residency:
      %ul.section-list
        %li
          %span.section-year 2018 
          Làng Art Dorm, Làng Art Dorm, Hue, Vietnam
        %li
          %span.section-year 2016
          End of Summer, Yale Union, Portland, USA
      .section-title SELECTED EXHIBITION CATALOGUES:
      %ul.section-list
        %li
          %span.section-year 2019 
          21st DOMANI: The Art of Tomorrow. Texts by Yoko Hayashi. Agency for Cultural Affairs Japan
        %li
          %span.section-year 2018
          Catastrophe and the Power of Art. Texts by Kenichi Kondo, Futoshi Hoshino, J.J. Charlesworth, and Gerrit Jasper Schenk. Mori Art Museum, Tokyo, Japan
        %li
          %span.section-year 2017 
          Reenacting History_Collective Actions and Everyday Gestures. Texts by BAE Myungji, SEO Hyun-Suk, PARK Joon-Sang, and CHO Soojin. National Museum of Modern and Contemporary Art, Gwacheon, South Korea
        %li
          %span.section-year 
          Condition Report : Sindikat Campursari.The Mashup Syndicate. Texts by Ade Darmawan, and Shihoko Iida. The Japan Foundation Asia Center, Tokyo, Japan
        %li
          %span.section-year 2016
          Uprisings. Texts by Nicole Brenez, Judith Butler, Georges Didi-Huberman, Marie-José Mondzain, Antonio Negri, and Jacques Rancière. Jeu de Paume and Éditions Gallimard, Paris, France
        %li
          %span.section-year 
          Spider’ s Thread – Spinning images of Japanese beauty. Texts by Daisaburo Okumoto, Masatoshi Tsuzuku, Kyoko Fujii, and Miyuki Naruse. Toyota Municipal Museum of Art, Aichi, Japan
        %li
          %span.section-year 2015
          Time of Others. Texts by Che Kyongfa, Azusa Hashimoto, Michelle Ho, Reuben Keehan. Museum of Contemporary Art of Tokyo, The National Museum of Art Osaka, Singapore Art Museum, Queensland art Gallery | Gallery of Modern Art, and The Japan Foundation Asia Center 
        %li
          %span.section-year 2014
          Red Bull Music Academy Tokyo. Texts by Kenji Kubota. Red Bull Japan, Tokyo, Japan
        %li
          %span.section-year 2013
          Now Japan; Exhibition with 37 contemporary Japanese artists. Texts by Robbert Roos. Kunsthal KAdE, Amersfoort, The Netherlands
        %li
          %span.section-year 2012
          Artists and the Disaster -Documentation in Progress-. Texts by Kiyokazu Washida, Noi Sawaragi, Naoya Hatakeyama, and Yuu Takehisa. Art Tower Mito, Ibaraki, Japan
        %li
          %span.section-year 
          Project Daejeon 2012: Energy. Texts by GIM Jungi, and KIM Minkyung. Daejeon Museum of Art, Daejeon, South Korea
        %li
          %span.section-year 2011
          Koganecho Bazaar. Texts by Shingo Yamano. Koganecho Bazaar, Yokohama, Japan
        %li
          %span.section-year 
          THE HOME, HOTELS, HIDEYOSHI, AWAY. Texts by Chieko Kinoshita. Art Area B1, Osaka, Japan
        %li
          %span.section-year 2010
          Roppongi Crossing 2010: Can There Be Art?. Texts by Kenichi Kondo, Kenji Kubota, and Chieko Kinoshita. Mori Art Museum, Tokyo, Japan 
      .section-title SELECTED BIBLIOGRAPHY:
      %ul.section-list
        %li
          %span.section-year 2019
          Emily Wakeling “Domani: The Art of Tomorrow” [review] Real Tokyo (online)
        %li
          %span.section-year
          Taisuke Shimanuki "Tsubasa Kato: pull down a building using ropes" [interview] CINRA.NET (online)
        %li
          %span.section-year 2018
          Tsubasa Kato "They do not understand each other” [essay] The National Museum of Art Osaka News (October)
        %li
          %span.section-year 
          Ryan Holmberg "(Drawing) Fractions of the Longest Distance" [review] Artforum vol.56 no.8 (April)
        %li
          %span.section-year 
          Yoko Nose "(Drawing) Fractions of the Longest Distance" [review] Bijutsutecho (April and May)
        %li
          %span.section-year 2016 
          Tsubasa Kato “Memories simultaneously erupting across spatial and temporal distances” [essay] Bungakukai (January) 
        %li
          %span.section-year 2015 
          Laura Thomson “A conversation with Tsubasa Kato” [interview] OCULA (online)
        %li
          %span.section-year 
          Linda Dennis "Pull and Raise: Tsubasa Kato” [interview] ASSEMBLE Papers no.3 
        %li
          %span.section-year 2014
          Takaharu Eto "Mitakuye Oyasin” [documentary film] Group Gendai
        %li
          %span.section-year 
          Haruko Kumakura “Still the Never-World” [review] Bijutsutecho (January) 
        %li
          %span.section-year 2011
          Emily Wakeling “Fukagawa, Future, Humanity” [review] Eyeline (online) 
        %li
          %span.section-year 
          Tsubasa Kato “LOST HOME EMBANKMENT” [DVD] MUJIN-TO Production
        %li
          %span.section-year 
          Hidenori Kondo “Tsubasa Kato” [interview] TOKYO SOURCE 064 (online)
        %li
          %span.section-year 
          Ren Fukuzumi “Roppongi Crossing 2010: Can There Be Art?” [review] Bijutsutecho (June)
      .section-title SELECTED AWARDS AND GRANTS:
      %ul.section-list
        %li
          %span.section-year 2017-15
          Program of Overseas Study for Upcoming Artists, Agency for Cultural Affairs Japan
        %li
          %span.section-year
          Japan-U.S. Exchange Friendship Program in the Arts, Japan-U.S. Friendship Commission
        %li
          %span.section-year 2014
          Corporate Award (CHINTAI Corporation), Tokyo Designers Week 2014 Asia Awards, Tokyo, Japan 
        %li
          %span.section-year 2010
          Jury Prize (Kuma Kengo), Roppongi Crossing 2010: Can There Be Art?, Mori Art Museum, Tokyo, Japan
        %li
          %span.section-year 
          Shortlisted, The 13th Taro Okamoto Award for Contemporary Art, Kawasaki, Japan
        %li
          %span.section-year 2009
          Bronze Prize and Jury Prize (Sakata Kazumi), GEISAI#12, Tokyo, Japan
      .section-title PUBLIC COLLECTIONS:
      %ul.section-list
        %li
          %span.section-year
          ・Mori Art Museum, Tokyo, Japan
        %li
          %span.section-year
          ・The National Museum of Art, Osaka, Japan
        %li
          %span.section-year
          ・Toyota Municipal Museum of Art, Aichi, Japan
